<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="app.component.css" />
  </head>
  <body>
      <div class="finalexam">
          <p>Final Exam</p>
          <p>Find all even numbers between two numbers</p>
        </div>
    
    <div class="numbers">

    Number1: <input type="text" id="numberInput" />

    Number2: <input type="text" id="numberInput2" />
    </div>

    <input type="submit" value="submit" onclick="calcPN();" />

    <script src="./app.component.ts"></script>
  </body>
</html>
