.finalexam {
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
  }
  
  .numbers {
    display: center;
  }